# 2018-08-23 (Jueves)

## Entrega propuesta proyecto

Propuesta formal se entregará a través de repositorio privado del grupo

## Tarea 2, entrega jueves 30 (subir códigos y PDF/markdown a repositorio privado)

Incluso si Kattis no acepta código, subirlo igual a Git


---

In [15]:
#datos de ejemplo para la clase

#leemos archivo de otra carpeta
archivo = open('../clase04_20180821/nombres.txt', 'r', encoding='utf-8')

cols = archivo.readline()

data_nombres = []
for line in archivo:
    num, rut, ape, nom, cur = line.strip().split('\t')
    data_nombres.append((nom, rut))

archivo.close()

print(data_nombres)

[('MAURICIO HERNÁN', '19732761-8'), ('MATÍAS', '18935035-K'), ('MAURICIO JAIR', '19828661-3'), ('MARIA ANTONIA', '19672788-4'), ('DAVID ROLANDO', '95404-7'), ('RAMÓN ALBERTO', '95506-K'), ('GONZALO ALONSO', '19133672-0'), ('CAMILA CONSTANZA', '19741184-8'), ('AURELIEN', '95521-3'), ('VICENTE', '19080962-5'), ('NICOLAS RODRIGO', '19636956-2'), ('MIGUEL ANGEL', '95657-0'), ('MARTIN', '19685544-0'), ('GABRIELA GUADALUPE', '95707-0'), ('NICOLAS', '19635591-K'), ('PAULO ALEJANDRO', '19688168-9'), ('GERARDO JOSÉ', '95526-4'), ('ALINE PAZ', '19792621-K')]

## Listas (continuación)

##### List comprehension

Otra herramienta muy utilizada con listas es lo que se llama "list comprehension". Esta es una particularidad incluida en Python (generalmente no encontrada en otros lenguajes) que nos permite crear listas derivadas de procesos iterativos.

"list comprehension" quiere decir que, dentro de una lista, podemos incluir una instrucción a Python para crear la lista.

Por ejemplo, supongamos que tenemos una base de datos con los nombres del curso, y queremos crear una lista con los nombres que comienzan con la letra "A". ¿cómo lo haríamos?

In [2]:
nombres_con_a = []

for nombre in data_nombres:
    if nombre.startswith('A'):
        nombres_con_a.append(nombre)

print('nombres que comienzan con A')
print(nombres_con_a)

nombres que comienzan con A
['AURELIEN', 'ALINE PAZ']

In [6]:
#con list comprehension:

nombres_con_a = [(nombre, len(nombre)) for nombre in data_nombres if nombre.startswith('A')]

print('nombres que comienzan con A')
print(nombres_con_a)

nombres que comienzan con A
[('AURELIEN', 8), ('ALINE PAZ', 9)]

**Quiz: y si queremos los nombres "capitalized"?**

### Tuplas

Son similares a las listas, pero no permiten modificacion de sus elementos.

In [7]:
a = [2, 3]

t = (a, [4, 5], 9)

print(t)

print(t[1:])

([2, 3], [4, 5], 9)
([4, 5], 9)

In [11]:
a[1] = 4
a

[2, 4]

In [12]:
t

([2, 4], [4, 5], 9)

Uno de los usos genericos de tuplas es para guardar informacion que no queremos sea modificada, o que queremos se mantenga "junta" a lo largo de nuestros codigos. Por ejemplo:

In [26]:
#leemos archivo de otra carpeta
archivo = open('../clase04_20180821/nombres.txt', 'r', encoding='utf-8')

cols = archivo.readline()

data_nombres = []

for line in archivo:
    num, rut, apellido, nombre, curr = line.strip().split('\t')
    
    data_nombres.append( (curr, rut, nombre, apellido) )

archivo.close()

for data in data_nombres:
    print(data)

('050004', '19732761-8', 'MAURICIO HERNÁN', 'ABURTO ABURTO')
('050004', '18935035-K', 'MATÍAS', 'ALDUNATE BARROS')
('050004', '19828661-3', 'MAURICIO JAIR', 'BARRERA ABARCA')
('050004', '19672788-4', 'MARIA ANTONIA', 'BULNES ZAÑARTU')
('000301', '95404-7', 'DAVID ROLANDO', 'CORNEJO ARIAS')
('000301', '95506-K', 'RAMÓN ALBERTO', 'ESCOBAR MADRID')
('050004', '19133672-0', 'GONZALO ALONSO', 'GARCIA HOFFMANN')
('050004', '19741184-8', 'CAMILA CONSTANZA', 'HURTADO CONTRERAS')
('000302', '95521-3', 'AURELIEN', 'KASKE')
('050004', '19080962-5', 'VICENTE', 'MARISCAL BRESLER')
('050004', '19636956-2', 'NICOLAS RODRIGO', 'PASTEN PARDO')
('000302', '95657-0', 'MIGUEL ANGEL', 'QUINTERO MARTINEZ')
('050004', '19685544-0', 'MARTIN', 'RAFOLS VALENZUELA')
('000301', '95707-0', 'GABRIELA GUADALUPE', 'REYES MAGAÑA')
('050004', '19635591-K', 'NICOLAS', 'RODRIGUEZ ARNOLDS')
('050004', '19688168-9', 'PAULO ALEJANDRO', 'ROSALES CORREA')
('000302', '95526-4', 'GERARDO JOSÉ', 'SEMINARIO LA TORRE')
('050004', '19792621-K', 'ALINE PAZ', 'VINESES MEDINA')

In [31]:
curriculos = []

for cur, rut, nom, ape in data_nombres:
    if cur in curriculos:
        pass
    else:
        curriculos.append(cur)

print(curriculos)

lista_contadores = []

for cur_guardado in curriculos:
    i = 0
    for cur, rut, nom, ape in data_nombres:
        if cur == cur_guardado:
            i = i + 1
            
    lista_contadores.append((cur_guardado, i))

print(lista_contadores)

['050004', '000301', '000302']
[('050004', 12), ('000301', 3), ('000302', 3)]

In [28]:

lista_contadores = [0]*len(curriculos)
lista_contadores

[0, 0, 0]

In [ ]:
for rut_alumno, nombre_alumno, apellido_alumno in data_nombres:
    
    if 'AU' in nombre_alumno:
        print(rut_alumno, nombre_alumno, apellido_alumno)

In [17]:
for data in data_nombres:
    data[1] = data[1].lower()


print(data_nombres)

TypeError: 'tuple' object does not support item assignment

### Strings y listas

Ya vimos strings anteriormente. Solo queria mencionar aqui que la implimentación de strings en Python (y en otros lenguajes) es muy similar a la implementación de listas.

Por eso en Python podemos hacer "slicing" sobre strings de la misma manera que lo hacemos sobre listas. Pero hay otras operaciones que no están permitidas (como cambiar items). En ese sentido, son más parecidos a tuplas.

In [20]:
s = 'Hola como estas'

s[3:9]


a = s

s = s.replace('o', 'e')

print(a)
print(s)

Hola como estas
Hela ceme estas

La siguiente es una función de variables string, que se utiliza con listas:
- str.join(l1): une los elementos de l1 con el string determinado

In [ ]:
print('h'.join(l2))

## Diccionarios

Los diccionarios son estructuras de datos que también están indexadas (como las listas están de 0 a N-1), pero el índice en los diccionarios no necesariamente sigue un orden definido.

In [38]:
d = {'maria': 7 , 
     'juan': 8, 
     'elisa': 8, 
     'diego': 4, 
     'pedro': 'hola',
    49 : 'hola2'}

print(d)

{'diego': 4, 'juan': 8, 'pedro': 'hola', 49: 'hola2', 'maria': 7, 'elisa': 8}

In [43]:
d['nico'] = 7

In [44]:
d

{'diego': 4,
 'juan': 8,
 'pedro': 'hola',
 49: 'hola2',
 'maria': 7,
 'elisa': 8,
 'nico': 7,
 'miguel': 0}

In [39]:
d[49]

'hola2'

In [35]:
len(d)

5

La gran ventaja de usar diccionarios es que nos permite encontrar valores que no tienen un orden lógico, de una manera rápida

In [ ]:
# busqueda de datos con listas:

data = [('juan', 5), ('maria', 6), ('pedro', 3), ('sofia', 7)]

#cual es la nota de pedro?

nom_buscado = 'pedro'

for nombre, nota in data:
    if nombre == nom_buscado:
        print(nota)

In [ ]:
# busqueda con diccionarios

data = {'juan': 5, 'maria': 6, 'pedro': 3, 'sofia': 7}

print(data[nom_buscado])

** Ejercicio: buscar número de estudiantes por currículo **

In [46]:
curriculos = {}

for cur, rut, nom, ape in data_nombres:
    
    if cur not in curriculos:
        curriculos[cur] = 1
    else:
        curriculos[cur] = curriculos[cur] + 1
        
print(curriculos)

{'000302': 3, '000301': 3, '050004': 12}

qué podemos usar cómo índices (keys)? --> cualquier cosa que sea inmutable (o sea, no podemos usar listas), y "hashable"

en español, se recomienda usar strings, números o tuplas

In [ ]:
# cuidado con ocupar floats...

diccionario = {}

diccionario[1-0.9] = 'datos valiosos'

print(diccionario[0.1])