<center><h1>Ayudantía 9</h1></center>
<hr style="color=skyblue; border-color:skyblue"/>
<div style="display:inline-block;float:left"><h3>Profesor: Carlos Alvarado</h3></div>
<div style="display:inline-block;float:right"><h3>Ayudante: Pablo González</h3></div>


<table style="width:90%; font-size:18px; float:left;color:#333;">
  <tr style="background:#90ffc8">
    <th style="text-align:left">Actividad</th>
    <th style="text-align:left">Objetivo</th> 
  </tr>
    
  <tr>
    <td style="text-align:left">Multiples ejercicios con SQL</td>
    <td style="text-align:left"><ul>
        <li>Uso de SQL + Python</li>
        <li>Explorar db de rendimiento de colegios</li>
    </ul></td> 
  </tr>
    
   <tr>
    <td style="text-align:left">Propuestos</td>
    <td style="text-align:left"><ul>
        <li>Practicar la selección condicionada</li>
        <li>Búsqueda de top X</li>
    </ul></td>
  </tr>
    
   <tr>
    <td style="text-align:left">Cierre</td>
    <td style="text-align:left"><ul>
        <li>Dudas ayudantía</li>
    </ul></td> 
  </tr>
  
</table>

<h3>Ejercicios</h3>
<hr />

Primero revise si cuenta con lo necesario para conectarse a un archivo accdb, con el que trabajaremos temporalmente. Recuerde que en caso de obtener un resultado vacío, debe dirigirse al [siguiente sitio](https://www.microsoft.com/en-US/download/details.aspx?id=13255) o, en caso de usar Mac, al [siguiente sitio](http://www.iodbc.org/dataspace/doc/iodbc/wiki/iodbcWiki/Downloads)

In [1]:
import pyodbc
[x for x in pyodbc.drivers() if x.startswith('Microsoft Access Driver')]

['Microsoft Access Driver (*.mdb, *.accdb)']

#### Ejercicio 0
Descargue la base de datos necesaria [aquí](https://drive.google.com/file/d/1EpGSxbDTGnw5GcnXOeWgD0m1vBUal7s2/view?usp=sharing) <br/>
Conectese a la base de datos "db.accdb" e imprima el nombre de las tablas. Esta base de datos proviene de [datachile](https://en.datachile.io/about/data)

In [2]:
from os import getcwd
import pyodbc
controlador = "Microsoft Access Driver (*.mdb, *.accdb)"
directorio = getcwd() + "\db.accdb"
conn = pyodbc.connect(r"Driver={%s};DBQ=%s;" % (controlador, directorio))
cursor = conn.cursor()

In [3]:
for tablas in cursor.tables(tableType='TABLE'):
    print(tablas.table_name)

Administration_id
Colegios_id
Datos_rendimiento
Rural_id
Sex_id
Teaching_id

In [3]:
for row in cursor.columns(table = 'Nombre de la tabla'):
        print(row.column_name)

![Estructura](estructura.png)

#### Ejercicio 1
Calcule el número de instituciones que hay dependiendo de si se está en una zona rural o urbana.

  Ubicación  N° de instituciones
0     Rural               535841
1    Urbano              2737057

#### Ejercicio 2
Obtenga el rendimiento promedio de las zonas, separándolos por sexo.

    rural     sex  PromedioDescores_average
0   Rural  Hombre                       5.0
1   Rural   Mujer                       5.2
2  Urbano  Hombre                       5.1
3  Urbano   Mujer                       5.2

#### Ejercicio 3
¿Cuántas instituciones fueron calificadas en promedio con nota mayor a 6 para los hombres? Separe su resultado dependiendo de si se encuentra en una zona rural o urbana.
¿Que debiesemos cambiar si queremos buscar ahora esta información para las mujeres?

  Ubicación  Cantidad
0     Rural     23447
1    Urbano    129309

#### Ejercicio 4
¿Cuántos colegios Municipales, Particulares Subvencionados y Particulares Pagados hay en la base de datos dependiendo de si se está en una zona rural o urbana?

     Zona            Administración   Cuenta
0   Rural            Municipal DAEM   455227
1   Rural  Particular Subvencionado    45977
2  Urbano            Municipal DAEM  1222861
3  Urbano         Particular Pagado   106655
4  Urbano  Particular Subvencionado   664979

<h2>Ejercicios Propuestos</h2>

### Ejercicio 1
¿CUáles son las 3 instituciones municipales DAEM de educación humanista/científica en zonas rurales para jovenes? ¿Cual es la evaluación promedio que estas recibieron?

#### Ejercicio 2
¿Qué instituciones dentro de la categoría "Educación Media Técnico/Profesional Marítima Jóvenes" están dentro del top 1%?

<hr style="color=orange; border-color:red; height:2px; background:orange" />
<h2 style="text-align:center; font-weight:bold;">¿Dudas?</h2>