<center><h1>Ayudantía 7</h1></center>
<hr style="color=skyblue; border-color:skyblue"/>
<div style="display:inline-block;float:left"><h3>Profesor: Carlos Alvarado</h3></div>
<div style="display:inline-block;float:right"><h3>Ayudante: Pablo González</h3></div>


<table style="width:90%; font-size:18px; float:left;color:#333;">
  <tr style="background:#90ffc8">
    <th style="text-align:left">Actividad</th>
    <th style="text-align:left">Objetivo</th> 
  </tr>
  <tr>
    <td style="text-align:left">Repaso SQL</td>
    <td style="text-align:left"><ul>
        <li>Código</li>
        <li>Relación con Access</li>
        <li>Librería pyodbc</li>
    </ul></td> 
  </tr>
    
  <tr>
    <td style="text-align:left">Ejercicios básicos con SQL</td>
    <td style="text-align:left"><ul>
        <li>Uso de SQL + Python</li>
        <li>Explorar db de inmigración</li>
    </ul></td> 
  </tr>
    
   <tr>
    <td style="text-align:left">Propuestos</td>
    <td style="text-align:left"><ul>
        <li>Modificar db</li>
    </ul></td>
  </tr>
    
   <tr>
    <td style="text-align:left">Cierre</td>
    <td style="text-align:left"><ul>
        <li>Dudas ayudantía</li>
        <li>Dudas tarea </li>
    </ul></td> 
  </tr>
  
</table>

<h3>Repaso</h3>
<hr />

#### Código SQL
Algunso comandos básicos que usaremos. <br/>
Si quieren aprender más y practicar, les recomiendo el siguiente [sitio web](https://www.w3schools.com/sql/)

SELECT [COLUMNA(S)] FROM [NOMBRE DE LA TABLA]; <- Nos permite seleccionar (filtrar) los datos que queramos.

SELECT [COLUMNA(S)] FROM [NOMBRE DE LA TABLA] WHERE (NOT) [CONDICIÓN1] AND/OR [CONDICION2]; 
Nos permite agregar condiciones a nuestra selección.

SELECT [COLUMNA(S)] FROM [NOMBRE DE LA TABLA] ORDER BY [COLUMNA(S) QUE USAREMOS COMO INDICE] ASC/DESC;
Mediante el comando Order by, podemos ordenar nuestras consultas como queramos.

INSERT INTO [NOMBRE DE LA TABLA] ([COLUMNA(S)]) VALUES ([VALORES A INSERTAR EN CADA COLUMNA MENCIONADA]);
Esto nos permite insertar una nueva observacion los valores que queramos. En caso de que omitamos alguna columna, esta quedará en blanco o con el valor predeterminado.

DELETE [COLUMNA(S)] FROM [NOMBRE DE LA TABLA] WHERE condition;
NOS PERMITE ELIMINAR COLUMNAS/OBSERVACIONES, SEGÚN LO NECESITEMOS.

LA SEPARACIÓN EN [COLUMNA(S) SE REALIZA MEDIANTE UNA COMA (,).
SI QUEREMOS ELEGIR TODAS LAS COLUMNAS, SIMPLEMENTE ESCRIBIMOS *

#### Relación entre SQL y Access
SQL es un lenguaje para trabajar con bases de datos del cual el software Accessse basa para realizar consultas a nuestros conjuntos de datos y relacionarlos.
¿De qué nos sirve saber esto? Esto nos permite practicar el lenguaje en cualquier computador con Microsoft Access, aunque no tenga servidores como Mysql instalados y, además, relacionar los conocimientos antes ya obtenidos en el "Taller de computación II", para facilitar el aprendizaje de este lenguaje y la estructura de las bases de datos.

![SQL en Access](access.png)

#### Librería pyodbc
Esta librería nos permite conectarnos con diferentes fuentes de base de datos y ejecutar consultas a través del lenguaje SQL. A continuación trabajaremos con una base de datos en formato Access, pero también podríamos conectarnos a un archivo excel o incluso a un servidor. <br />
Para acostumbrarse a pyodbc, se recomienda revisar la [API de la librería](https://github.com/mkleehammer/pyodbc/wiki) antes del día de la ayudantía.

<h3>Ejercicios</h3>
<hr />

Primero revise si cuenta con lo necesario para conectarse a un archivo accdb, con el que trabajaremos temporalmente. En caso de obtener un resultado vacío, dirijase al [siguiente sitio](https://www.microsoft.com/en-US/download/details.aspx?id=13255) o, en caso de usar Mac, desde el [siguiente sitio](http://www.iodbc.org/dataspace/doc/iodbc/wiki/iodbcWiki/Downloads)

In [9]:
import pyodbc
[x for x in pyodbc.drivers() if x.startswith('Microsoft Access Driver')]

['Microsoft Access Driver (*.mdb, *.accdb)']

#### Ejercicio 1
Descargue la base de datos necesaria [aquí](https://drive.google.com/file/d/14PpQnrjP9kXdTTkX8Ua6fFyd7zyAXCaF/view?usp=sharing) <br/>
Conectese a la base de datos "db.accdb" e imprima el nombre de las tablas. Esta base de datos proviene de [datachile](https://en.datachile.io/about/data)

In [11]:
from os import getcwd
import pyodbc
controlador = "Microsoft Access Driver (*.mdb, *.accdb)"
directorio = getcwd() + "\db.accdb"
conn = pyodbc.connect(r"Driver={%s};DBQ=%s;" % (controlador, directorio))
cursor = conn.cursor()

In [19]:
for table_info in cursor.tables(tableType='TABLE'):
    print(table_info.table_name)

Actividad
Estudios
Sexo
TIpo de visa
Visas

#### Ejercicio 2
Obtenga
(a) El número de visas de la cual esta base de datos contiene información.
(b) Separe dicho número por año.

1494873

     Año  Número de visas
0   2005            53187
1   2006            61884
2   2007           102471
3   2008            85132
4   2009           101559
5   2010            85339
6   2011            98506
7   2012           132218
8   2013           157999
9   2014           173216
10  2015           215109
11  2016           228253

#### Ejercicio 3
Calcule el promedio de edad de los solicitantes de visa por año. Recuerde que la edad es un número entero.

     Año  Edad promedio
0   2005           30.0
1   2006           30.0
2   2007           30.0
3   2008           30.0
4   2009           30.0
5   2010           30.0
6   2011           30.0
7   2012           30.0
8   2013           30.0
9   2014           30.0
10  2015           30.0
11  2016           30.0

#### Ejercicio 4
Muestre en una tabla el total de visas entregadas entre los años 2005 y 2016, separándaolas según su tipo.

                        Tipo de Visa  Cantidad
0                         Estudiante     25570
1             Permanencia Definitiva    323026
2  Permanencia Definitiva Por Gracia       695
3                      Sin Beneficio         1
4                  Sujeta A Contrato    433023
5  Temp. Acuerdo Residencia Mercosur         1
6                         Temporaria    712557

#### Ejercicio 5
Cree un nuevo registro en la tabla Estudios. Este será el sexto registro y su valor será "Curso en Wikipedia".
Dado a que este es el último ejercicio, cierre el cursor y la conexión.

<h2>Ejercicios Propuestos</h2>

### Ejercicio 1
La persona a cargo de esta base de datos notó que se cometieron ciertos errores. A usted se le pide:
* Modificar la edad y fecha de nacimiento de la persona asociada a la solicitud de visa número 669768, que realmente tiene 20 años.
* Las personas asociadas a las solicitudes número 106781 y 1419667 renunciaron a su postulación a Visa y quieren que borremos su registro.

<hr style="color=orange; border-color:red; height:2px; background:orange" />
<h2 style="text-align:center; font-weight:bold;">¿Dudas o preguntas sobre la tarea?</h2>