# 2018-10-02 (martes)

### Presentaciones

### Tarea 3

---

### Antes de partir

Primero, cargamos informacion relevante para la clase:

In [1]:
#conexion 1: leer archivo sqlite3

#cargo librerias
import pandas as pd
import sqlite3

#cargamos funcion "display", para ver los DataFrame de pandas formateados
from IPython.display import display

#leo los datos
db_path = 'data_sql.db'

#creo conexion
db_conn = sqlite3.connect(db_path)

In [ ]:
#cargo datos del servidor

#en este ejemplo, el servidor de datos es MySQL, por lo que usamos 
#libreria pymysql para administrar la conexion
import pymysql.cursors

#datos de conexion al servidor (muy similar a lo que es un "path")
host = '190.107.176.7'
user = 'reportej_alum'
passwd = 'clave_alumno2018'
database = 'reportej_eae253b'

# Creamos una conexion a la base de datos
casen_connection = pymysql.connect(host=host,
                             user=user,
                             password=passwd,
                             db=database,)

### Ejemplo 1. ¿cómo saber las tablas que hay en la base de datos?

- SQLite3: SELECT * FROM sqlite_master;

- pyMySQL: SHOW TABLES

In [2]:
#lista de tablas de base de datos en sqlite3
query = '''
    SELECT * FROM sqlite_master;
'''

df_cuenta = pd.read_sql(query, db_conn)

display(df_cuenta)

,type,name,tbl_name,rootpage,sql
0,table,mis_datos,mis_datos,2,"CREATE TABLE ""mis_datos"" (\n""index"" INTEGER,\n..."
1,index,ix_mis_datos_index,mis_datos,3,"CREATE INDEX ""ix_mis_datos_index""ON ""mis_datos..."
2,table,tabla_nombres,tabla_nombres,4,"CREATE TABLE ""tabla_nombres"" (\n""index"" INTEGE..."
3,index,ix_tabla_nombres_index,tabla_nombres,5,"CREATE INDEX ""ix_tabla_nombres_index""ON ""tabla..."

In [ ]:
#lista de tablas de base de datos en mysql

query = '''
    SHOW TABLES
'''

df_cuenta = pd.read_sql(query, casen_connection)

display(df_cuenta)

### Ejemplo 1. informacion basica de casen

¿qué hace la siguiente query?

In [ ]:
query = '''
    select region, count(*)
    from casen2015
    group by region
'''

df_cuenta = pd.read_sql(query, casen_connection)

display(df_cuenta)

### Ejemplo 2. SQL Injection

In [ ]:
#seleccionando year y nombre trimestre, para casos con valor > X

sql_query = '''
    SELECT region, count(*)
    FROM casen2017
    WHERE region = %s
    GROUP BY region
'''

region_selected = 13
#, params=[region_selected,]
data = pd.read_sql(sql_query, casen_connection, params=(13,))

display(data)

### Otras operaciones: crear variables en SQL

### Otras operaciones: unir bases de datos ("append" de Stata, o "concatenate" de pandas)

Para hacer esto, en SQL existe la sentencia "UNION". Existen dos modalidades comunmente
- UNION
- UNION ALL: no elimina filas duplicadas

### Otras operaciones: usar Subqueries

¿qué hace la siguiente query?

In [ ]:
query = '''
    SELECT *
    FROM (
        select region, count(*) as poblacion
        from casen2015
        group by region
    )
    WHERE POBLACION > 1000000
'''

df_cuenta = pd.read_sql(query, casen_connection)

display(df_cuenta)

### Ejercicio: ¿cómo obtendríamos el número de personas por región, para cada Casen?