# 2018-10-02

---

### Antes de partir

Base de datos ejemplo (misma clases anteriores). Descargar aqui si no la tienen: https://www.dropbox.com/s/tejs4qpkp06q3ka/data_sql.db?dl=0

Primero, cargamos informacion relevante para la clase:

In [3]:
#conexion 1: leer archivo sqlite3

#cargo librerias
import pandas as pd
import sqlite3

#cargamos funcion "display", para ver los DataFrame de pandas formateados
from IPython.display import display

#leo los datos
db_path = 'data_sql.db'

#creo conexion
db_conn = sqlite3.connect(db_path)

In [7]:
#cargo datos del servidor

import pandas as pd

#en este ejemplo, el servidor de datos es MySQL, por lo que usamos 
#libreria pymysql para administrar la conexion
import pymysql.cursors

#cargamos funcion "display", para ver los DataFrame de pandas formateados
from IPython.display import display

#datos de conexion al servidor (muy similar a lo que es un "path")
host = '190.107.176.7'
user = 'reportej_alum'
passwd = 'clave_alumno2018'
database = 'reportej_eae253b'

# Creamos una conexion a la base de datos
casen_connection = pymysql.connect(host=host,
                             user=user,
                             password=passwd,
                             db=database,)

### Ejemplo 1. ¿cómo saber las tablas que hay en la base de datos?

- SQLite3: SELECT * FROM sqlite_master;

- pyMySQL: SHOW TABLES

In [ ]:
#lista de tablas de base de datos en sqlite3
query = '''
    SELECT * FROM sqlite_master;
'''

df_cuenta = pd.read_sql(query, db_conn)

display(df_cuenta)

In [11]:
#lista de tablas de base de datos en mysql

query = '''
    show tables
'''

df_cuenta = pd.read_sql(query, casen_connection)

display(df_cuenta)

  Tables_in_reportej_eae253b
0                  casen2015
1                  casen2017

### Ejemplo 1. informacion basica de casen

In [8]:
# definimos la query que queremos ejecutar. En este caso, saber cuantas filas
# tiene la base de datos
query = '''
    select count(*)
    from casen2015
'''

df_cuenta = pd.read_sql(query, casen_connection)

display(df_cuenta)

   count(*)
0    266968

### SQL Injection

In [25]:
sql_query = '''
    SELECT year, nombre
    FROM mis_datos
        INNER JOIN tabla_nombres USING (quarter)
    WHERE valor > ?
'''

data = pd.read_sql(sql_query, db_conn, params=(3,))
display(data)

   year   nombre
0  2010  Segundo
1  2010  Tercero
2  2011  Primero
3  2011  Tercero
4  2011   Cuarto

In [22]:
#seleccionando year y nombre trimestre, para casos con valor > X

sql_query = '''
    SELECT region, count(*)
    FROM casen2017
    WHERE region = %s
    GROUP BY region
'''

region_selected = 13
#, params=[region_selected,]
data = pd.read_sql(sql_query, casen_connection, params=(13,))

display(data)

   region  count(*)
0    13.0     42601

### Otras operaciones: crear variables en SQL

### Otras operaciones: unir bases de datos ("append" de Stata, o "concatenate" de pandas)

Para hacer esto, en SQL existe la sentencia "UNION". Existen dos modalidades comunmente
- UNION
- UNION ALL: no elimina filas duplicadas

### Otras operaciones: usar "subqueries"